.card{
    align-self: center;
    background-color: rgba(0, 0, 0, 0.377);
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
}
.conteiner{
    margin-top: 0px;
}
.time{
    padding-right: 15px;
    text-align: end;
}
.clock{
    color: var(--font);
    padding-top: 5px;
}
.genre{
    color: var(--font);
}
.bntIconsCont{
display: flex;
flex-direction: row;
}
.contIcon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textIcon{
    margin-block: 0px;
    margin-top: 10px;
    color: var(--font);
}
.icons{
    width: 70px;
    height: 70px;
    margin-left: 55px;
    margin-right: 55px;
}
.icons:hover{
    cursor: pointer;
    width: 80px;
    height: 80px;
}
.question{
    color: aliceblue;
}
.list{
    list-style-type: none;
    text-align: left;
    margin: 20px;
    
}
.opt{
    /* background-color: var(--btn); */
    color: var(--font);
    font-size: 20px;
}
.btn{
    margin-block: auto;
    margin-top: 50px;
    width: 150px;
    height: 30px;
    font-size: 25px;  
    border-radius: 10px;
    font-family: font;
    color: var(--font);
    background-color: var(--btn);
    transition-duration: 200ms;
}
.btn:hover{
    width: 200px;
    height: 55px;
    font-size: 38px; 
    transition-duration: 200ms;
    cursor: pointer;
}